body{
    background-image: url('../img/zastavki-novy-god-1366x768.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:  0 auto;
    background-color: navy;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: white;
    
}

.timer{
    display: flex;
}
.field{
  background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 80px;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    color: navy;
    margin-left: 5px;
}
.value{
 font-size: 30px;
 font-weight: 700;
}